* {
  margin: 0;
  padding: 0;
}

html {
	font-family: Inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif;
 	font-size: 14px;
	box-sizing: border-box;
}

/* #root {
	width: 100%;
} */